html, body {
    width: 100%;
    height: 100%;
  }

  .header {
    background: #27273e;
    font-family: Arial, sans-serif;
    min-height: 70px;
    padding 10px 0 0 0;
  }  

  .wrapper {
    min-height: 100%;
    overflow: hidden;
    min-width: 1100px;
  }


   h2 {
    padding: 0;
    margin: 0;
    font-weight: normal;
  }
  
  .title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 49px;
  }

  .header__contact {
    font-size: 21px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: right;
    font-weight: bold;
    font-style: normal;
    margin: 0 -2px 3px 0;
  }


  .main {
    float: left;
    width: 880px;
  }

  .aside {
    float: left;
    width: 180px;
    padding-top: 7px;
  }

  .nav__menu {
    font-family:  Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #ec1e79;
    text-decoration: none;
    letter-spacing: 1px;

  
.properties__item {
        display: inline-block;
        width: 250px;
        margin-right: 20px;
      }
      .properties__title,
.properties__desc {
  text-align: center;
}

.news-block {
    font-family: 'GothamPro', Arial, sans-serif;
    margin-bottom: 68px;
  }
  
  .news__photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    float: left;
    margin-right: 19px;
    position: relative;
  }
  
  .news__data {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 4px;
  }
  
  .news__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .news__text {
    display: block;
    width: 700px;
    font-weight: 300;
    font-size: 18px;
    float: right;
  }
  
    .footer {
        font-family: Arial, sans-serif;
        background-color: #27273e;
        height: 77px;
        margin-top: -77px;
        min-width: 1100px;
        position: relative;
      }
